.footer{

    &__container{
        padding: 51px auto;
    }

    &__list{
        display: inline-flex;
        justify-content: center;
        gap: 35px;
        padding-bottom: 26px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__copyright{
        left: 40.28%;
        right: 40.45%;

        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        text-align: center;
        color: #21243D;
    }
}